<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Razoyo\CarProfile\Api\CarRepositoryInterface" type="Razoyo\CarProfile\Model\CarRepository"/>
    <preference for="Razoyo\CarProfile\Api\Data\CarInterface" type="Razoyo\CarProfile\Model\Car"/>
    <preference for="Razoyo\CarProfile\Api\Data\CarSearchResultInterface" type="Razoyo\CarProfile\Model\CarSearchResult"/>
</config>
